<html>
  <head>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <div class="card-details">
      <p><%=message[0].username%></p>
      <p><%=message[0].text%></p>
      <p><%=message[0].added%></p>
      <a href="/">Go Back</a>
    </div>
  </body>
</html>
