<form method="POST" action="/new">
  <label for="user">User</label>
  <input type="text" name="username" />
  <label for="message">Message</label>
  <input type="text" name="text" />
  <button type="submit">submit</button>
</form>
